fastapi
uvicorn
torch==2.2.2
torchvision==0.17.2
pillow
pydantic
numpy<2
fastapi
uvicorn
pydantic
pillow
numpy<2
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
